blinker==1.9.0
click==8.3.1
Flask==3.1.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
Werkzeug==3.1.4
qrcode[pil]==8.0

# Authentication
Flask-JWT-Extended==4.7.4
Flask-Limiter==4.1.1
limits==5.8.0
PyJWT==2.13.0
